#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

/* German umlauts */
ZMK_LEADER_SEQUENCE(de_ae,      &de_ae,         A)  // ä
ZMK_LEADER_SEQUENCE(de_oe,      &de_oe,         O)  // ö
ZMK_LEADER_SEQUENCE(de_ue,      &de_ue,         U)  // ü
ZMK_LEADER_SEQUENCE(de_eszett,  &de_eszett,     S)  // ß
ZMK_LEADER_SEQUENCE(curr_euro,  &curr_euro,     J)  // €
ZMK_LEADER_SEQUENCE(degree,     &degree,        Q)  // °